<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Detail Page</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-8 justify-content-end">
                <div>
                    <p class-"h4">
                        <span>Title: </span>
                        <span class="text" th:text="${book.title}"></span>
                    </p>
                    <p th:if="${book.description != 'NOT FOUND'}">
                        <span class="h5 text">Description: </span>
                        No description found</p>
                    <p th:if = "${book.excerpt != 'NOT FOUND'}"><span class="h5 text">
                        Excerpt: </span>
                        <span th:text="${book.excerpt}"></span>
                    </p>
                </div>
                <div class="d-flex justify-content-start">
                    <a href="/" class="btn btn-dark ml-0" role="button">Back to home</a>
                </div>
            </div>
        </div>

</body>
</html>